
/* styles for small screens */
.movie {
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* styles for medium screens */
@media screen and (min-width: 576px) {
  .movie {
    width: 45%;
    max-width: 45%;
  }
}

/* styles for large screens */
@media screen and (min-width: 992px) {
  .movie {
    width: 30%;
    max-width: 30%;
  }
}
