* {
  background-color:rgb(31, 8, 53);
  color:rgb(240, 209, 172);
}
.movie {
  margin: 15px;
  text-align: center;
}
.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  height: 355px;
  max-width: 100%;
}

.movie-info {
  position: relative;
  width: 300px; /* Adjust the width as needed */
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 31px;
  width: 76%; /* Make it the same width as the image */
  height: 345px; /* Make it the same height as the image */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  display: none;
  text-align: center; /* Center the text horizontally */
  vertical-align: middle; /* Center the text vertically */
  line-height: 345px; /* Adjust the line-height to match the image height */
}

.movie-info:hover .hover-text {
  display: block; /* Show text on hover */
}



.title {
  height: 8.5vh;
}
.movie-overview {
  text-align: left;
}

.movie-content {
  text-align: center;
}




.genre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Style the checkbox input */
.genre-list label input[type="checkbox"] {
  display: none; /* Hide the actual checkbox */
}

/* Style the checkbox label */
.genre-list label {
  display: inline-block;
  background-color: #7c6508; /* Background color when unchecked */
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* checkbox label when checked */
.genre-list label input[type="checkbox"]:checked + label {
  background-color: #007bff; /* Background color when checked */
  color: #fff;
}




/* styles for medium screens */
@media screen and (min-width: 576px) {
  .movie {
    width: 45%;
    max-width: 45%;
  }
}

/* styles for large screens */
@media screen and (min-width: 992px) {
  .movie {
    width: 30%;
    max-width: 30%;
  }
}
