* {
  background-color:rgb(8, 8, 53);
  color:rgb(240, 209, 172);
}
.movie {
  margin: 20px;
}
.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  height: 355px;
  max-width: 100%;
}

.title {
  height: 8.5vh;
}
.movie-overview {
  text-align: left;
}

.movie-content {
  text-align: center;
}

/* styles for medium screens */
@media screen and (min-width: 576px) {
  .movie {
    width: 45%;
    max-width: 45%;
  }
}

/* styles for large screens */
@media screen and (min-width: 992px) {
  .movie {
    width: 30%;
    max-width: 30%;
  }
}
